<mat-card>
  <mat-card-title>Car Form</mat-card-title>
  <mat-card-subtitle>Add car form</mat-card-subtitle>
  <mat-card-content class="form-container">
    <mat-form-field appearance="legacy">
      <mat-label>Model:</mat-label>
      <input type="text" matInput placeholder="Model:" [(ngModel)]="carForm.model">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Make:</mat-label>
      <mat-select [(ngModel)]="carForm.make">
        <mat-option value="BMW">BMW</mat-option>
        <mat-option value="VW">Volkswagen</mat-option>
        <mat-option value="MAZDA">Mazda</mat-option>
        <mat-option value="RENAULT">Renault</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Engine power:</mat-label>
      <input type="number" matInput placeholder="Engine power:" [(ngModel)]="carForm.enginePower">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Production year:</mat-label>
      <input type="number" matInput placeholder="Production year:" [(ngModel)]="carForm.productionYear">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Date of first registration:</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="carForm.dateOfFirstRegistration">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint>yyyy-MM-dd</mat-hint>
    </mat-form-field>
    <mat-divider></mat-divider>
    <div class="button-row">
      <button class="mat-button-primary" type="button" mat-button mat-raised-button color="primary" (click)="clickSubmit()" >Submit form</button>
      <button class="mat-button-primary" type="button" mat-button mat-raised-button color="warn" (click)="clickClear()" >Clear form</button>
    </div>
  </mat-card-content>
</mat-card>

