<div class="app-container">
  <div class="top-row">
    <div class="header-col-left">Logo</div>
    <div class="header-col-right"></div>
  </div>
  <div class="bottom-row">
    <div class="navigator-style">
      <div class="menu-container">
        <div class="menu-title">
          Menu
        </div>
        <div class="menu-buttons-container">
          <button class="mat-button-primary" type="button" mat-button mat-raised-button color="primary">Main
            Page</button>
          <button class="mat-button-primary" type="button" mat-button mat-raised-button color="primary">List of
            Students</button>
          <button class="mat-button-primary" type="button" mat-button mat-raised-button color="primary">Student
            Form</button>
          <button class="mat-button-primary" type="button" mat-button mat-raised-button color="primary">Login
            Page</button>
        </div>
      </div>
    </div>
    <div class="content-style">
      <div class="content-container">
        <div>
          <app-car-form (onCarAdd)="addCarToList($event)"></app-car-form>
        </div>
        <div>
          <app-car-list (onCarDeleted)="deleteCarFromList($event)" [carList]="carList"></app-car-list>
        </div>
      </div>
    </div>
  </div>
</div>
